.guitar-neck {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.guitar-neck__fretboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--guitar-neck-bg-color);
  width:100%;
  padding: 0 0;
}

.guitar-neck__string {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
  outline: 1px  var(--guitar-neck-string-color) solid;
  outline-offset: -12px;
}

.guitar-neck__fret {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
  border-right: 1px solid var(--guitar-neck-fret-color);
  &.hidden {
    display: none;
  }
}

.guitar-neck__marker{
  top: 50%;
  margin-top: -20px;
  position: absolute;
  background-color: var(--guitar-neck-dot-color);
  border-radius: var(--guitar-neck-dot-border-radius);
  height: var(--guitar-neck-dot-size);
  width: var(--guitar-neck-dot-size);
}

.guitar-neck__marker_12{
  position:absolute;
  top: 50%;
  margin-top: -42px;
  width: var(--guitar-neck-dot-size);
  &::before, &::after{
    content: "";
    position: absolute;
    background-color: var(--guitar-neck-dot-color);
    border-radius: var(--guitar-neck-dot-border-radius);
    height: var(--guitar-neck-dot-size);
    width: var(--guitar-neck-dot-size);

  }
  &::after{
    top: 45px;
  }
}
.guitar-neck__dot,
.guitar-neck__selected{
  background-color: var(--guitar-neck-marker-bg-color);
  border-radius: var(--guitar-neck-dot-border-radius);
  color: var(--guitar-neck-marker--color);
  font-size: 12px;
  font-weight: bold;
  height: var(--guitar-neck-dot-size);
  width: var(--guitar-neck-dot-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}
.guitar-neck__selected{
  background-color: rgb(32, 1, 27);
}

.guitar-neck__root{
  background-color: rgb(128, 0, 15);
}

.guitar-neck__third{
  background-color: rgb(0, 128, 58);
}

.guitar-neck__fifth{
  background-color: rgb(128, 124, 0);
}

.guitar-neck__string{
  .guitar-neck__fret{
    &:first-child{
      border-right: none;
      width: 0px;
      background-color: var(--guitar-neck-open-string-color);
      border-right: 1px outset var(--guitar-neck-fret-color);
    }
  }
}

.symbols {
  display: flex;
  width: 30%;
  justify-content:  space-between;
  align-items: flex-start;
  margin-top: 10px;

}
.symbols > div{
  border-radius: var(--guitar-neck-dot-border-radius);
  color: var(--guitar-neck-marker--color);
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  box-sizing: content-box;
  &.symbols__root{
    background-color: rgb(128, 0, 15);
  }
  &.symbols__third{
    background-color: rgb(0, 128, 58);
  }
  &.symbols__fifth{
    background-color: rgb(128, 124, 0);
  }
}
