:host {
  display: block;
  width: 100%;
}
.section-title{
  text-align: center;
  margin: 1em 0;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  padding: 0 25%;
}
.form-row{
  display: flex;
  flex-direction: column;
  margin:0 2em;
  width: 100%;
}
.form-select{
  margin-bottom: 10px;
  padding: 5px;
}
div {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}
