 <section class="legend-row">
  <div class="legend-title">Intervals Legend</div>

  <div class="interval-list">
    <span class="interval interval--root">Root</span>
    <span class="interval interval--b2">♭2</span>
    <span class="interval interval--2">2</span>
    <span class="interval interval--b3">♭3</span>
    <span class="interval interval--3">3</span>
    <span class="interval interval--4">4</span>
    <span class="interval interval--b5">♭5</span>
    <span class="interval interval--5">5</span>
    <span class="interval interval--b6">♭6</span>
    <span class="interval interval--6">6</span>
    <span class="interval interval--b7">♭7</span>
    <span class="interval interval--7">7</span>
  </div>
  <div class="legend-switches">
    <label class="switch-line">
      <span>Notes</span>
      <input type="checkbox" checked />
    </label>

    <label class="switch-line">
      <span>Intervals</span>
      <input type="checkbox" />
    </label>

    <label class="switch-line">
      <span>Interval colors</span>
      <input type="checkbox"
             [checked]="guitarNeckService.intervalColorsEnabled"
             (change)="guitarNeckService.intervalColorsEnabled = $any($event.target).checked" />
    </label>
  </div>
</section>
