<div class="guitar-neck" *ngIf="notes">
  <app-range-toolbar (rangeChange)="fretRange = $event"></app-range-toolbar>
  <div class="guitar-neck__fretboard">
    <div class="guitar-neck__fret-indices">
      <div class="guitar-neck__fret-index-spacer"></div>
      <div class="guitar-neck__fret-index-track">
        <div class="guitar-neck__fret-index-cell"></div>
        <div *ngFor="let fret of frets" class="guitar-neck__fret-index-cell">{{ fret }}</div>
      </div>
    </div>

    <div *ngFor="let string of strings; let i = index" [class]="'guitar-neck__string '+ string">
      <div class="guitar-neck__nut-label">{{ string }}</div>
      <div class="guitar-neck__fret guitar-neck__fret--open"
           *ngIf="isNoteOnFret(string, 0) && isNoteInRange(0)">
        <button class="guitar-neck__fret-number guitar-neck__dot"
                *ngIf="!isNoteSelected(string, 0)"
                (click)="fretNoteClicked(string, 0)">
          {{ getNoteName(string, 0) }}
        </button>
        <div class="guitar-neck__selected" *ngIf="isNoteSelected(string, 0)">{{ getNoteName(string, 0) }}</div>
      </div>
      <div *ngFor="let fret of frets" class="guitar-neck__fret">
        <div class="guitar-neck__marker" *ngIf="isMarkedFret(string, fret)"></div>
        <div class="guitar-neck__marker_12" *ngIf="isMarkedTwelffeFret(string, fret)"></div>
        <ng-container *ngIf="isNoteOnFret(string, fret) && isNoteInRange(fret)">
          <button class="guitar-neck__dot"
                  *ngIf="!isNoteSelected(string, fret)"
                  (click)="fretNoteClicked(string, fret)">
            {{ getNoteName(string, fret) }}
          </button>
          <div *ngIf="isNoteSelected(string, fret) && !getNoteInterval(string, fret)"
               class="guitar-neck__selected">{{ getNoteName(string, fret) }}</div>
          <div *ngIf="getNoteInterval(string, fret)"
               [ngClass]="['guitar-neck__dot guitar-neck__'+getNoteInterval(string, fret)]">{{ getNoteName(string, fret) }}</div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
