<div class="guitar-neck" *ngIf="notes">
  <app-range-toolbar (rangeChange)="fretRange = $event"></app-range-toolbar>
  <div class="guitar-neck__fretboard">
    <div class="guitar-neck__fret-indices">
      <div class="guitar-neck__fret-index-spacer">
        <span class="guitar-neck__fret-index-spacer__label">on</span>
      </div>
      <div class="guitar-neck__fret-index-track">
        <div *ngFor="let fret of frets" class="guitar-neck__fret-index-cell">{{ fret }}</div>
      </div>
    </div>

    <div *ngFor="let string of strings; let i = index"
         [class]="'guitar-neck__string '+ string"
         [class.guitar-neck__string--disabled]="!guitarNeckService.activeStrings[i]">

      <app-string-toggle
        [stringName]="string"
        [stringIndex]="i"
        [active]="guitarNeckService.activeStrings[i]"
        (stringToggled)="onStringToggled($event)">
      </app-string-toggle>

      <div class="guitar-neck__nut-label">
        <span class="guitar-neck__nut-label__string-name">{{ string }}</span>
        <ng-container *ngIf="isNoteOnFret(string, 0) && isNoteInRange(0)">
          <button class="guitar-neck__dot guitar-neck__open-note-btn"
                  *ngIf="!isNoteSelected(string, 0)"
                  (click)="fretNoteClicked(string, 0)">
            {{ getNoteName(string, 0) }}
          </button>
          <div *ngIf="isNoteSelected(string, 0) && !getNoteInterval(string, 0)"
               class="guitar-neck__selected"
               (click)="fretNoteClicked(string, 0)">
            {{ getNoteName(string, 0) }}
          </div>
          <div *ngIf="getNoteInterval(string, 0)"
               [ngClass]="guitarNeckService.intervalColorsEnabled
                 ? ['guitar-neck__dot guitar-neck__'+getNoteInterval(string, 0)]
                 : ['guitar-neck__dot guitar-neck__neutral']"
               (click)="fretNoteClicked(string, 0)">
            {{ getNoteName(string, 0) }}
          </div>
        </ng-container>
      </div>
      <div *ngFor="let fret of frets" class="guitar-neck__fret">
        <div class="guitar-neck__marker" *ngIf="isMarkedFret(string, fret)"></div>
        <div class="guitar-neck__marker_12" *ngIf="isMarkedTwelffeFret(string, fret)"></div>
        <ng-container *ngIf="isNoteOnFret(string, fret) && isNoteInRange(fret)">
          <button class="guitar-neck__dot"
                  *ngIf="!isNoteSelected(string, fret)"
                  (click)="fretNoteClicked(string, fret)">
            {{ getNoteName(string, fret) }}
          </button>
          <div *ngIf="isNoteSelected(string, fret) && !getNoteInterval(string, fret)"
               class="guitar-neck__selected">{{ getNoteName(string, fret) }}</div>
          <div *ngIf="getNoteInterval(string, fret)"
               [ngClass]="guitarNeckService.intervalColorsEnabled
                 ? ['guitar-neck__dot guitar-neck__'+getNoteInterval(string, fret)]
                 : ['guitar-neck__dot guitar-neck__neutral']">{{ getNoteName(string, fret) }}</div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
