<div class="fretboard" *ngIf="notes">
  <div class="fretboard__body">
    <div class="fretboard__fret-indices">
      <div class="fretboard__fret-index-spacer">
        <span class="fretboard__fret-index-spacer__label">on</span>
      </div>
      <div class="fretboard__fret-index-track">
        <div *ngFor="let fret of frets" class="fretboard__fret-index-cell">{{ fret }}</div>
      </div>
    </div>

    <div *ngFor="let string of strings; let i = index"
         [class]="'fretboard__string '+ string"
         [class.fretboard__string--disabled]="!activeStrings[i]">

      <app-string-toggle
        [stringName]="string"
        [stringIndex]="i"
        [active]="activeStrings[i]"
        (stringToggled)="onStringToggled($event)">
      </app-string-toggle>

      <div class="fretboard__nut-label">
        <span class="fretboard__nut-label__string-name">{{ string }}</span>
        <ng-container *ngIf="isNoteOnFret(i, 0) && isNoteInRange(0)">
          <button class="fretboard__dot fretboard__open-note-btn"
                  *ngIf="!isNoteSelected(i, 0)"
                  (click)="fretNoteClicked(i, 0)">
            <span *ngIf="showNoteLabels">{{ getNoteName(i, 0) }}</span>
          </button>
          <div *ngIf="isNoteSelected(i, 0) && !getNoteInterval(i, 0)"
               [ngClass]="['fretboard__dot', getRoleCssClass(i, 0)]"
               (click)="fretNoteClicked(i, 0)">
            <span *ngIf="showNoteLabels">{{ getNoteName(i, 0) }}</span>
          </div>
          <div *ngIf="getNoteInterval(i, 0)"
               [ngClass]="['fretboard__dot', getMarkerCssClass(getNoteInterval(i, 0)), getRoleCssClass(i, 0)]"
               (click)="fretNoteClicked(i, 0)">
            <span *ngIf="showNoteLabels">{{ getNoteName(i, 0) }}</span>
          </div>
        </ng-container>
      </div>
      <div *ngFor="let fret of frets" class="fretboard__fret">
        <div class="fretboard__marker" *ngIf="isMarkedFret(i, fret)"></div>
        <div class="fretboard__marker--double" *ngIf="isMarkedTwelffeFret(i, fret)"></div>
        <ng-container *ngIf="isNoteOnFret(i, fret) && isNoteInRange(fret)">
          <button class="fretboard__dot"
                  *ngIf="!isNoteSelected(i, fret)"
                  (click)="fretNoteClicked(i, fret)">
            <span *ngIf="showNoteLabels">{{ getNoteName(i, fret) }}</span>
          </button>
          <div *ngIf="isNoteSelected(i, fret) && !getNoteInterval(i, fret)"
               [ngClass]="['fretboard__dot', getRoleCssClass(i, fret)]">
            <span *ngIf="showNoteLabels">{{ getNoteName(i, fret) }}</span>
          </div>
          <div *ngIf="getNoteInterval(i, fret)"
               [ngClass]="['fretboard__dot', getMarkerCssClass(getNoteInterval(i, fret)), getRoleCssClass(i, fret)]">
            <span *ngIf="showNoteLabels">{{ getNoteName(i, fret) }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>