/* You can add global styles to this file, and also import other style files */
.flex-container{
    display: flex;
    flex-direction: column;
    //lelementy dzieci mają być owycentrowane i do góry
    align-items: center;
    justify-content: flex-start;
    //rozstawienie elementów
    gap: 10px;
    //wysokość kontenera
    height: 100vh;
}


// globals

// zmienne css dla colorów i nagłówków
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --black-color: #000;
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.5;
    --border-radius: 0.25rem;

    //guitar neck theme
    --guitar-neck-bg-color: #333;
    --guitar-neck-fret-color: #ddd;
    --guitar-neck-string-color: #ddd;
    --guitar-neck-dot-color: #fff;
    --guitar-neck-dot-label-color: #aaa;
    // siodełko
    --guitar-neck-open-string-color: #bf500b;
    --guitar-neck-dot-size: 20px;
    --guitar-neck-dot-border-radius: 50%;

    // markery
    --guitar-neck-marker-bg-color: rgb(168, 110, 110);
    --guitar-neck-marker--color: rgb(255, 255, 255);
    --interval-root: rgb(128, 0, 15);
    --interval-minor-2nd: rgb(230, 92, 0);
    --interval-major-2nd: rgb(255, 136, 0);
    --interval-minor-3rd: rgb(219, 180, 0);
    --interval-major-3rd: rgb(139, 195, 0);
    --interval-perfect-4th: rgb(0, 153, 76);
    --interval-diminished-5th: rgb(0, 128, 128);
    --interval-perfect-5th: rgb(0, 102, 204);
    --interval-minor-6th: rgb(106, 0, 179);
    --interval-major-6th: rgb(153, 51, 204);
    --interval-minor-7th: rgb(179, 0, 134);
    --interval-major-7th: rgb(160, 160, 160);
}

// resetowanie css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

