<div class="legend">
  <div class="legend-item root">Root</div>
  <div class="legend-item minor-2nd">♭2</div>
  <div class="legend-item major-2nd">2</div>
  <div class="legend-item minor-3rd">♭3</div>
  <div class="legend-item major-3rd">3</div>
  <div class="legend-item perfect-4th">4</div>
  <div class="legend-item diminished-5th">♭5</div>
  <div class="legend-item perfect-5th">5</div>
  <div class="legend-item minor-6th">♭6</div>
  <div class="legend-item major-6th">6</div>
  <div class="legend-item minor-7th">♭7</div>
  <div class="legend-item major-7th">7</div>
</div>
