<div class="fret-range-controls">
  <div class="range-inputs">
    <div class="input-group">
      <label for="minFret">From:</label>
      <input
        type="number"
        id="minFret"
        [(ngModel)]="selectedMinFret"
        min="0"
        [max]="maxFret"
        (ngModelChange)="onRangeChange()"
      >
    </div>
    <div class="input-group">
      <label for="maxFret">To:</label>
      <input
        type="number"
        id="maxFret"
        [(ngModel)]="selectedMaxFret"
        [min]="selectedMinFret"
        [max]="maxFret"
        (ngModelChange)="onRangeChange()"
      >
    </div>
    <button class="show-all-btn" (click)="showAll()">Show All</button>
  </div>
  <div class="position-buttons">
    <button
      *ngFor="let position of commonPositions"
      (click)="selectPosition(position)"
      [class.active]="isPositionActive(position)"
    >
      Position {{position}}
    </button>
  </div>
</div>